
.img{
  width: 30rem;
    border-radius: 15%;
    margin: auto;
    display: block;
}

.textoFrase{
  font-style: italic;
  color: #505755;
  text-align: center;
  height: 400px;
}


button{
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-style: italic;
  font-size: 14px;
  background-color: rgb(117, 212, 212);
  color: #fff;
  margin: 23px;
  padding: 5px 5px;
  font-weight: bold;
  
 
}


  

